@import '../utilities/variables.scss';

#history-main {
    margin-top: 20px;
    input[type="month"] {
        background-color: $secondaryColor;
        border: none;
        color-scheme: dark;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 3px;
        border-radius: 0px 3px 3px 0;
    }
    .positive-money {
        color: $accentColor;
    }
    .negative-money {
        color: $redMsg;
    }

    .monthly-calculation {
        display: flex;

        div {
            text-align: center;
            align-items: flex-end;
            margin: 0 auto;

            h2 {
                font-size: .95rem;
            }
        }
        .money-col {
            border-bottom: 1px solid $offWhite;
        }
        .money-labels {
            justify-content: flex-start;
        }
    }
    h4 {
        font-size: 1.2rem;
        margin-top: 25px;
        margin-bottom: 30px;
        text-align: right;
        margin-right: 30px;
    }
    .ending-balance {
        margin-left: 10px;
    }
    .monthly-time-line {
        font-size: .8em;
        font-style: italic;
    }
}