#home-page {
    text-align: center;
    h1 {
        color: blue;
    }
    p {
        font-size: .9em;
        margin-bottom: 10px;
    }
    
    img {
        width: 200px;
    }
    button {
        display: block;
        margin: 0 auto;
        margin-top: 20px;

    }
}


//  LOGGED IN STYLES
#dashboard {
    h1 {
        color: blue;
    }
    img {
        display: block;
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
    }
    menu {
        position: fixed;
        width: 100%;
        bottom: 0;
        border-top: 1px solid rgb(75, 169, 77);
        border-radius: 8px 8px 0 0;
        background-color: rgb(134, 190, 134);
    }

    menu a {
        width: 100%;
        font-size: .9rem;
        text-align: center;
        padding: .6rem 0;
    }

    menu a:not(:first-child) {
        border-left: 1px solid black;
    }
}

// MODAL STYLES
.modal-container {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.709);
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 150%;
    pointer-events: none;

    transition: .3s;

    .modal {
        width: 85%;
        text-align: center;
        padding: 20px 10px;
        position: relative;
        top: 30px;
        background-color: green;
        margin: 0 auto;
    }
}

.show-modal {
    opacity: 1;
    pointer-events: all;

}