#home-page {
    text-align: center;
    h1 {
        color: blue;
    }
    p {
        font-size: .9em;
        margin-bottom: 10px;
    }
    
    img {
        width: 200px;
    }
    button {
        display: block;
        margin: 0 auto;
        margin-top: 20px;

    }
}


//  LOGGED IN STYLES
#dashboard {
    h1 {
        color: blue;
    }
    img {
        display: block;
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
    }
}

// Tag colored squares
.tag-color-square {
    margin-right: 5px;
    border-radius: 8px;
    width: 7px;
    height: 7px;
    display: inline-block;
}