////// CSS RESET ///////
* {
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

html, body {
height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(245, 234, 221);
  }

input, button, textarea, select {
font: inherit;
}

h1 {
  color: red;
}
a {
  color: inherit;
  text-decoration: none;
}

///// Navigation Bar ////////

#nav-menu-underlay {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 200%;
  background-color: #ffffff00;
}

nav {
  align-items: center;
  position: relative;
}
#nav-items-main-div {
  right: -100vw;
  pointer-events: none;
  background-color: rgba(51, 48, 48, 0.721);
  position: absolute;
  width: 100%;
  top: 35px;
  transition: .15s all;
}

@keyframes slideInRight {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@for $i from 1 through 20 {
  #nav-items-main-div a:nth-child(#{$i}) {
      position: relative;
      padding-left: 25px;
      color: rgb(255, 255, 255);
      animation: slideInRight .5s  .14s + ($i / 13) both;
  }
}

// The nested items in category:
.nav-category-item {
  display: block;
  position: relative;
  color: white;
}

.nav-category-items:hover {
  cursor: pointer;
  background-color: rgba(36, 34, 34, 0.721);
}

#nav-categories-div {
  max-height: 0;
  transition: 1.3s all;
}


// Key Frames
@keyframes fadeIn {
  from {
    opacity: 0;
    left: -1000px;
  }
  to {
    opacity: 1;
    left: 0px;
  }
}

@for $i from 1 through 20 {
  #nav-categories-div a:nth-child(#{$i}) {
      color: white;
      padding-left: 50px;
      animation: fadeIn .5s  .01s + ($i / 13) both;
  }
}

.main-nav-item:hover {
  cursor: pointer;
  background-color: rgba(36, 34, 34, 0.721);
}

// .category-caret {
//   font-size: .6em;
//   color: white;
//   position: absolute;
//   left: 99px;
//   bottom: 28px;
//   -webkit-animation: slideInRight 0.5s 0.2938461538s both;
//           animation: slideInRight 0.5s 0.2938461538s both;
// }

#nav-categories-div a:hover {
  cursor: pointer;
  background-color: rgba(36, 34, 34, 0.721);
}

#hamburger {
  font-size: 1.5em;
  margin-right: 10px;
}
#hamburger:hover {
  cursor: pointer;
}

//////// FOOTER menu that is present the entire time loggedIn /////////
menu {
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 1px solid rgb(75, 169, 77);
  border-radius: 8px 8px 0 0;
  background-color: rgb(134, 190, 134);
}

menu a {
  width: 100%;
  font-size: .9rem;
  text-align: center;
  padding: .6rem 0;
}

menu a:not(:first-child) {
  border-left: 1px solid black;
}
//////// MODAL STYLES THAT OPEN WITH FOOTER MENU /////////
.modal-container {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.709);
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 150%;
  pointer-events: none;

  .modal {
      width: 85%;
      text-align: center;
      padding: 20px 10px;
      position: relative;
      top: 30px;
      background-color: green;
      margin: 0 auto;
  }
}
#add-expense-btn:hover .modal-container {
  transition: .2s cubic-bezier(0, 0, 1, 1);
} 

.show-modal {
  opacity: 1;
  pointer-events: all;
}


/* GLOBAL COLORS AND FONTS*/
$primaryColor: #2d0186;
$secondaryColor: gold;
$tertiaryColor: #004e86;
$accentColor: rgb(94, 90, 90);
$offWhite: rgb(232, 232, 232);
$green: rgb(1, 137, 1);
$transparentGreen: rgba(11, 91, 11, 0.402);


/* Utility classes */
.flex-box-sa {
  display: flex;
  justify-content: space-around;
}
.flex-box-sb {
  display: flex;
  justify-content: space-between;
}
.flex-box-se {
  display: flex;
  justify-content: space-evenly;
}
.flex-box-se-wrap {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.flex-box-sb-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex-box-sa-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-box-col-se {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.flex-box-col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex-box-col-sa {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* small margin moves */
.mt-1 {
  margin-top: 2px;
}
.mt-2 {
  margin-top: 4px;
}
.mt-3 {
  margin-top: 5px;
}
.mt-4 {
  margin-top: 7px;
}
.mt-5 {
  margin-top: 9px;
}

.ml-1 {
  margin-left: 2px;
}
.ml-2 {
  margin-left: 4px;
}
.ml-3 {
  margin-left: 5px;
}
.ml-4 {
  margin-left: 7px;
}
.ml-5 {
  margin-left: 9px;
}

.mr-1 {
  margin-right: 2px;
}
.mr-2 {
  margin-right: 4px;
}
.mr-3 {
  margin-right: 5px;
}
.mr-4 {
  margin-right: 7px;
}
.mr-5 {
  margin-right: 9px;
}

.mb-1 {
  margin-bottom: 2px;
}
.mb-2 {
  margin-bottom: 4px;
}
.mb-3 {
  margin-bottom: 5px;
}
.mb-4 {
  margin-bottom: 7px;
}
.mb-5 {
  margin-bottom: 9px;
}