@import '../utilities/variables.scss';

////// CSS RESET ///////
* {
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

html, body {
height: fit-content;
background-color: $primaryColor;
color: $gray;
padding-bottom: 30px;
}

body {
    font-family: $primaryFont;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
  }

input, button, textarea, select {
font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

///////////////////// Section Heading Titles ///////////////////
.section-heading {
  border-bottom: 1px solid $gray;
  font-size: 1.7em;
  line-height: .017rem;
  margin: 35px 0 15px;
  padding: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;

  span {
      background-color: $primaryColor;
      padding: 0 10px;
  }
}
.page-heading {
  margin-top: 15px;
  
}

////////////////// Navigation Bar //////////////////
#nav-menu-underlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 250%;
  background-color: #ffffff00;
}

// Home Button
.fa-pencil {
  color: $gray;
  font-size: .95rem;
  margin-left: 20px;
}
.fa-house {
  font-size: 1.7rem;
  margin-left: 15px;
}

nav {
  position: fixed;
  width: 100%;
  color: $offWhite;
	top: 0;
  align-items: center;
}

#nav-items-main-div {
  right: -100vw;
  pointer-events: none;
  background-color: rgba(11, 30, 30, 0.962);
  position: absolute;
  width: 100%;
  top: 35px;
  padding: 5px 0;
  transition: .15s all;
}

@keyframes slideInRight {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@for $i from 1 through 20 {
  #nav-items-main-div a:nth-child(#{$i}) {
      position: relative;
      font-size: 1.3em;
      padding-left: 15px;
      margin-top: 5px;
      color: $offWhite;
      animation: slideInRight .5s  .14s + ($i / 13) both;
  }
}

// The nested items in category:
.nav-category-item {
  display: block;
  position: relative;
  color: $offWhite;
}

.nav-category-items:hover {
  cursor: pointer;
  background-color: $secondaryColor;;
}

#nav-categories-div {
  max-height: 0;
  transition: 1.3s all;
}


// Key Frames
@keyframes fadeIn {
  from {
    opacity: 0;
    left: -1000px;
  }
  to {
    opacity: 1;
    left: 0px;
  }
}

@for $i from 1 through 25 {
  #nav-categories-div a:nth-child(#{$i}) {
      color: $offWhite;
      padding-left: 40px;
      font-size: 1.2em;
      animation: fadeIn .2s  .01s + ($i / 13) both;
  }
}

.main-nav-item:hover {
  cursor: pointer;
  background-color: $secondaryColor;
}


#nav-categories-div a:hover {
  cursor: pointer;
  background-color: $secondaryColor;
}

#hamburger {
  position: fixed;
  top: 13px;
  right: -10px;
  font-size: 1.5em;
  margin-right: 10px;
  color: $offWhite;
  background-color: $secondaryColor;
  padding: 5px 10px 5px 5px;
  border-radius: 8px 0 0 8px;
  transition: 0.15s;
  z-index: 999;
  border: 1.5px solid $accentColor;
  border-right: none;

}
#hamburger:hover {
  cursor: pointer;
}

////////// Main button class ////////////////////
/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  border-radius: 4px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px,rgba(0, 0, 0, 0.625) 0 2px 2px 0,rgba(0, 0, 0, 0.577) 0 1px 5px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-family: $primaryFont;
  font-size: .9rem;
  height: 30px;
  justify-content: center;
  letter-spacing: .0892857em;
  line-height: normal;
  min-width: 64px;
  outline: none;
  overflow: visible;
  padding: 0 15px;
  position: relative;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 300ms cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  will-change: transform,opacity;
}

.button-30:hover {
  box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

.button-30:disabled {
  background-color: rgba(0, 0, 0, .12);
  box-shadow: rgba(0, 0, 0, .2) 0 0 0 0, rgba(0, 0, 0, .14) 0 0 0 0, rgba(0, 0, 0, .12) 0 0 0 0;
  color: rgba(0, 0, 0, .37);
  cursor: default;
  pointer-events: none;
}

.button-30:not(:disabled) {
  background-color: $accentColor;
}

.button-30:focus {
  box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

.button-30:active {
  box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0 8px 10px 1px, rgba(0, 0, 0, .12) 0 3px 14px 2px;
  background-color: $secondaryColor;
}


//////// FOOTER menu that is present the entire time loggedIn /////////
menu {
  position: fixed;
  width: 100%;
  bottom: -2px;
  border-top: 1px solid $tertiaryColor;
  background-color: $primaryColor;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);

}

menu p {
  color: $offWhite;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  padding: .6rem 0;
}
menu p:hover {
  cursor: pointer;
}
menu p:active {
  background-color: $secondaryColor;
}

menu p:not(:first-child) {
  border-left: 1px solid $tertiaryColor;
}

//////// MODAL STYLES THAT OPEN WITH FOOTER MENU /////////
.modal-container {
  display: none;
  background-color: rgba(0, 0, 0, 0.709);
  position: absolute;
  z-index: 900;
  width: 100%;
  height: 250%;
  pointer-events: none;

  .modal {
      width: 85%;
      text-align: center;
      border-radius: 4px;
      padding: 20px 10px;
      position: relative;
      top: 30px;
      background-color: $primaryColor;
      margin: 0 auto;
      color: white;
      border: 1px solid $accentColor;
      
      .modal-heading {
        margin: 15px 0;
      }
      
      #monthly-bill, #monthly-bill-edit {
        margin: 10px 0px 0;
        accent-color: $accentColor;
      }
      
      input, select {
        background-color: $primaryColor;
        border: none;
        border-bottom: 1px solid $gray;
        font-size: 1.13em;
        color: $offWhite;
        margin: 18px 10px 5px;
        padding-left: 5px;
        color-scheme: dark;
        text-align: center;
      }

      textarea {
        background-color: $primaryColor;
        border: 1px solid $secondaryColor;
        width: 95%;
        color: $offWhite;
        border-radius:5px;
        padding: 3px;
        margin-top: 18px;
        text-align: center;
      }
      
      input:focus {
        outline: none;
        background-color: $primaryColor;
      }
      input:active {
        outline: none;
        background-color: $primaryColor;
      }
      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px $primaryColor inset !important;
        -webkit-text-fill-color: $offWhite !important;
      }
      input[type="number"] {
        width: 80px;
      }
      
      .add-expense-date {
        align-items: flex-end;
        margin-right: 15px;
      }
      .input-symbol-dollar {
        position: relative;
      }
      .input-symbol-dollar:before {
        font-size: 1.2em;
        position: absolute;
        top: -5px;
        content:"$";
        left: 8px;
      }
      #current-product-price, #expense-amount-input, .input-amount-modal {
        width: 80px;
      }
      
      button {
        margin-top: 20px;
      }
      #category-color-picker {
        border: none;
        margin: 15px 5px 0;
        padding: 0;
      }
      .start-date-modal {
        align-items: flex-end;
        justify-content: center;
        input{
          width: 153px;
        }
        label {
          font-size: 1.1rem;
          padding-bottom: 5px;
        }
      }

      .delete-btn {
        background-color: $redBg;
        color: $offWhite;
      }
      
      .error-msg {
        display: none;
        text-align: center;
        color: $redMsg;
      }
      #start-date, #end-date {
        width: 120px;
        font-size: 1rem;
      }
      .expired-date-form {
        align-items: baseline;
        justify-content: flex-end;
      }

    }

  }
  #add-expense-btn:hover .modal-container {
    transition: .2s cubic-bezier(0, 0, 1, 1);
  } 
  
  .show-modal {
    display: block;
    pointer-events: all;
  }


/* Utility classes */
.flex-box-sa {
  display: flex;
  justify-content: space-around;
}
.flex-box-sb {
  display: flex;
  justify-content: space-between;
}
.flex-box-se {
  display: flex;
  justify-content: space-evenly;
}
.flex-box-se-wrap {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.flex-box-sb-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex-box-sa-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-box-col-se {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.flex-box-col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex-box-col-sa {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* small margin moves */
.mt-1 {
  margin-top: 2px;
}
.mt-2 {
  margin-top: 4px;
}
.mt-3 {
  margin-top: 5px;
}
.mt-4 {
  margin-top: 7px;
}
.mt-5 {
  margin-top: 9px;
}

.ml-1 {
  margin-left: 2px;
}
.ml-2 {
  margin-left: 4px;
}
.ml-3 {
  margin-left: 5px;
}
.ml-4 {
  margin-left: 7px;
}
.ml-5 {
  margin-left: 9px;
}

.mr-1 {
  margin-right: 2px;
}
.mr-2 {
  margin-right: 4px;
}
.mr-3 {
  margin-right: 5px;
}
.mr-4 {
  margin-right: 7px;
}
.mr-5 {
  margin-right: 9px;
}

.mb-1 {
  margin-bottom: 2px;
}
.mb-2 {
  margin-bottom: 4px;
}
.mb-3 {
  margin-bottom: 5px;
}
.mb-4 {
  margin-bottom: 7px;
}
.mb-5 {
  margin-bottom: 9px;
}


