/* GLOBAL COLORS AND FONTS*/
$primaryColor: #031920;
$secondaryColor: rgb(13, 90, 102);
$tertiaryColor: #4FBDBA;
$accentColor: #6bd0d2;
$secondaryColorTrans: #35858bd9;

//////
$primaryFont:'Roboto Condensed', sans-serif;




// $primaryColor: #97bcc8;
// $secondaryColor: #075e64;
// $tertiaryColor: #4FBDBA;
// $accentColor: #6bd0d2;
// $secondaryColorTrans: #35858bd9;
// $gray: rgb(50, 46, 46);
// $offWhite: rgb(2, 15, 13);



$gray: rgb(199, 195, 195);
$offWhite: rgb(228, 240, 239);
$redMsg: rgb(204, 5, 5);
$redBg: rgb(158, 9, 9);