/* GLOBAL COLORS AND FONTS*/
$primaryColor: #031920;
$secondaryColor: #35858B;
$tertiaryColor: #4FBDBA;
$accentColor: #6bd0d2;

$secondaryColorTrans: #35858bd9;

$gray: rgb(199, 195, 195);
$offWhite: rgb(228, 240, 239);
$redMsg: rgb(204, 5, 5);