<div class="modal-container" id="add-cash-modal">
    <div class="modal">
      <h2 class='section-heading modal-heading'>
        <span>
          Add Cash
        </span>
      </h2>
      <form action="/api/add-cash" method="POST">

        <div class="flex-box-sb">
          <div>
            <span class="input-symbol-dollar">
              <input type="number" name="amount" min="0" class="input-amount-modal" placeholder="Amount" step="0.01"/>
            </span>
          </div>
          <input type="date" id="add-cash-date" name="add-cash-date" required>
        </div>

        <textarea type="text" name="money-description" maxlength="50" placeholder="Description(optional)"></textarea>
        <button type="submit" class="button-30">Add</button>


      </form>
    </div>
</div>