<div class="modal-container" id="confirm-monthly-update">
    <div class="modal">
        <h2 class='section-heading modal-heading'>
            <span>
              Confirm
            </span>
          </h2>
          <form action="{{base_url}}/api/update-edit-monthly-charge", method="POST">
            <p>Would you like to keep the history of this charge and update moving forward?</p>
            <input type="hidden" name="monthly-id" id="confirm-monthly-update-id">
            <input type="hidden" name="monthly-category" id="confirm-monthly-update-category">
            <input type="hidden" name="monthly-price" id="confirm-monthly-update-price">
            <input type="hidden" name="monthly-name" id="confirm-monthly-update-description">
            <input type="hidden" name="monthly-date" id="confirm-monthly-update-date">
            <button type="submit" class="button-30">Update Moving Forward</button>
          </form>
          <br>
          <p>OR</p>
          <br>
          <form action="{{base_url}}/api/complete-edit-monthly-charge", method="POST">
            <p>Would you like to change the entire history of this monthly charge?</p>
            <input type="hidden" name="monthly-id" id="confirm-monthly-update-id-complete">
            <input type="hidden" name="monthly-category" id="confirm-monthly-update-category-complete">
            <input type="hidden" name="monthly-price" id="confirm-monthly-update-price-complete">
            <input type="hidden" name="monthly-name" id="confirm-monthly-update-description-complete">
            <input type="hidden" name="monthly-date" id="confirm-monthly-update-date-complete">
            <button type="submit" class="button-30 delete-btn">Update Entire History</button>
          </form>
    </div>
</div>
