<div class="modal-container" id="edit-category">
    <div class="modal">
      <h2 class='section-heading modal-heading'>
        <span>
          Edit Category
        </span>
      </h2>
      {% for tag in tags %}
      {% if tag.tag_name == category.tag_name %}
        <form id='category-form' action="/api/edit-category" method="POST">
          <input type="text" name="category-name" maxlength="50" id="category-name" value="{{tag.tag_name}}" required/>
          <p class="error-msg" id="error-msg">
            Only alphnumeric, '-', '_', and spaces are allowed
            Category names must be unique.
          </p>
          <br />
          <label for="">Color</label>
          <input type="color" value="{{rgbToHex(tag.tag_color)}}" name="category-color" required/>
          <br />
          <input type="hidden" value="{{tag.id}}" name="category-id">

          <div class="flex-box-sa reverse-row">
            <button type="submit" class="button-30">Update</button>
        </form>
  
            <button type="button" class="button-30 delete-btn" id="remove-category-btn">Delete</button>          
        </div>
          
      {% endif %}
      {% endfor %}


    </div>
</div>
</div>