<div class="modal-container" id="edit-expired-charge">
    <div class="modal">
        <h2 class='section-heading modal-heading'>
            <span>
              Edit Expired Charge
            </span>
          </h2>

          <form action="/api/update-expired-charge", method="POST">

            <div class="flex-box-sb">
              <select name="monthly-category" id="current-expired-tag" required>
                <option selected disabled >Pick a category</option>
                {% for tag in tags%}
                <option value="{{tag.id}}">{{tag.tag_name}}</option>
                {% endfor %}
                
                {% for expense in expenses %}
                <p>{{expense.description}}</p>
                {% endfor %}
              </select> <br>
              <div>
                <span class="input-symbol-dollar">
                  <input type="number" name="monthly-price" min="0" id="current-expired-price" step="0.01" placeholder="amount" autocomplete="off" required />
                </span>
              </div>
            </div>

            <div class="flex-box-sa expired-date-form">
              <label for="start-date">Start Date:</label>
                  <input type="month" id="start-date" name="start-date" required><br>
                </div>
              <div class="flex-box-sa expired-date-form">
                  <label for="end-date">Last Payment:</label>
                  <input type="month" id="end-date" name="end-date" required>
                </div>
                <input type="hidden" name="expired-id" id="expired-id">
                
              <textarea type="text" name="monthly-name" maxlength="50" id="current-expired-name" placeholder="Description(optional)"></textarea>
              <div class="flex-box-se reverse-row">
                <button type="submit" class="button-30" id="update-expired-btn">Update</button>
          </form>
                <form action="/api/delete-expired-charge" method="POST">
                  <input type="hidden" name="expired-id" id="expired-id-delete">
                  <button type="submit" class="button-30 delete-btn" id="remove-expired-btn">Remove</button>
                </form>
              </div>
            </div>
</div>
