<div class="modal-container" id="edit-user-modal">
    <div class="modal">
      <h2 class='section-heading modal-heading'>
        <span>
          Edit Profile
        </span>
      </h2>
      <form action="/api/update-user-info" method="POST">
        

        <span class="input-symbol-dollar">
          <input type="number" name="amount" min="0" class="input-amount-modal" placeholder="Amount" step="0.01"/>
        </span>
        <input type="text" name="money-description" maxlength="50" placeholder="Description(optional)" />
        <input type="date" id="add-cash-date" name="add-cash-date" required><br>
        <button type="submit" class="button-30">Add</button>


      </form>
    </div>
</div>