<div class="modal-container" id="edit-category-in-profile">
    <div class="modal">
      <h2 class='section-heading modal-heading'>
        <span>
          Edit Category
        </span>
      </h2>
        <form id='category-form' action="/api/edit-category" method="POST">
          <input type="text" name="category-name" maxlength="50" id="category-name-in-profile" required/>
          <p class="error-msg" id="error-msg">
            Only alphnumeric, '-', '_', and spaces are allowed
            Category names must be unique.
          </p>
          <br />
          <label for="">Color</label>
          <input type="color" name="category-color" id="category-color-in-profile" required/>
          <br />
          <input type="hidden" name="category-id" id="category-id-in-profile">

          <div class="flex-box-sa">
            <button type="submit" class="button-30">Update</button>
        </form>
  
            <button type="button" class="button-30 delete-btn" id="remove-category-btn-profile">Delete</button>          
        </div>
        
    </div>
</div>
</div>