<div class="modal-container" id="edit-deposit">
  <div class="modal">
    <h2>Edit Deposit</h2>
    <form action="/api/add-cash" method="POST">
      <label for="amount">Amount</label>
      <input type="number" name="amount" id="current-deposit-amount" step="0.01" />
      <br /><br />
      <label for="money-description">Description:</label>
      <input type="text" name="money-description" id="current-deposit-description" placeholder="optional" />
      <br /><br />
      <input type="submit" value="Update"/>
    </form>
  </div>
</div>