<div class="modal-container" id="edit-user-modal">
    <div class="modal">
      <h2 class='section-heading modal-heading'>
        <span>
          Edit Salary
        </span>
      </h2>

        <span class="input-symbol-dollar">
          <input type="number" id="new_salary" maxlength="19" id="new_salary" placeholder="New Salary" />
        </span> 
        <p>When is new salary effective? </p>
        <input type="month" id="new_salary_date"> <br>
        <button class="button-30" id="update-user-btn">Update</button>
    </div>
</div>
