<div class="modal-container" id="expense-modal">
    <div class="modal">

      <h2 class='section-heading modal-heading'>
        <span>
          Add Expense
        </span>
      </h2>
      <form action="/api/add-expense" method="POST">

        <select name="product-category" required>
          <option selected disabled >Pick a category</option>
          {% for tag in tags%}
          <option value="{{tag.id}}">{{tag.tag_name}}</option>
          {% endfor %}

          {% for expense in expenses %}
          <p>{{expense.description}}</p>
          {% endfor %}
        </select> <br>

        <span class="input-symbol-dollar">
          <input type="number" name="product-price" step="0.01" id="expense-amount-input" placeholder="amount" autocomplete="off" required />
        </span> 
        



        <input type="product-name" name="product-name" maxlength="50" placeholder="Description(optional)" autocomplete="off" />


        <input type="date" id="expense-date" name="expense-date" required><br>

        <input type="checkbox" name="monthly-bill" id="monthly-bill">
        <label for="monthly-bill">Monthly Bill</label> <br>

        <button type="submit" class="button-30"/>Add</button>
      </form>
    </div>
</div>