<div class="modal-container" id="add-new-salary-modal">
    <div class="modal">      
      <h2 class='section-heading'>
        <span>
          Create New Salary
        </span>
      </h2>

      <form action="/api/add-salary", method="POST">
        <span class="input-symbol-dollar">
          <input type="number" name="new-monthly-income" id="new_salary" maxlength="19" id="new_salary" placeholder="New Salary"/>
        </span> 
        <p>Salary start date:</p>
        <input type="month"name="new-salary-date" id="new_salary_date" max="{{today.strftime("%Y")}}-{{today.strftime('%m')}}"> <br>
        <button type="submit" class="button-30" id="update-user-btn" disabled>Add</button>
      </form>
    </div>
</div>