<div class="modal-container" id="reactivate-category">
    <div class="modal">
        <h2 class='section-heading modal-heading'>
            <span>
              Reactivate
            </span>
          </h2>
          <br>
          <form action="/api/reactive-category", method="POST">
            <p>Would you like to reactive this category?</p>
            <input type="hidden" name="category-id" id="make-category-active-id">
            <button type="submit" class="button-30">Reactivate</button>
          </form>
          <br>
    </div>
</div>