{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='/styles/add_expense/add_expense.css')}}">
<title>Add Expense</title>
{% endblock %} {% block body %}


<main class='modal-body'>
    
    <div class='modal'>
        <h2>Add Expense</h2>
        <form action="/api/login" method="POST">
          <input type="email" name="email" placeholder="email" />
          <br /><br />
          <input type="password" name="password" placeholder="password" />
          <br /><br />
          <input type="submit" value="Login" />
        </form>
    </div>
</main>


{% endblock %}