<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name='viewport' content='initial-scale=1.0, width=device-width' />
    <meta name="description" content='Take ownership of your finances and track your spending habits.' />
    <meta name='keywords' content='lunaris-finance, money tracker, money, finances, lunaris, expenses, expense tracker, finance, dollar, saving, saving app, saving application, spending habits'/>
    <meta name='title' content='Lunaris'>

    <meta name='og:title' property='og:title' content='Lunaris' />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Take ownership of your finances and track your spending habits." />

    <meta property="og:image" content="{{url_for('static', filename='images/android-chrome-256x256.png')}}" />
    <meta property="og:image:secure_url" content="{{url_for('static', filename='images/android-chrome-256x256.png')}}" />
    <meta property="og:image:width" content="1200" /> 
    <meta property="og:image:height" content="657" />

    <meta property="og:image:type" content="image/png" />
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}"/>


    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='/images/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='/images/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='/images/favicon-16x16.png')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/favicon.ico')}}">

    <link rel="manifest" href="{{url_for('static', filename='manifest.json')}}">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@800&display=swap" rel="stylesheet">


    {% if not loggedIn%}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
    {% endif %}
    
    <link rel="stylesheet" href="{{url_for('static', filename='/styles/utilities/variables.css')}}">
    
    <link rel="stylesheet" href="{{url_for('static', filename='/styles/global/global.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    
    
    
    {% block head %} {% endblock %}
</head>
<body>

    {% include 'includes/add-cash-modal.html'%} 
    {% include 'includes/expense-modal.html'%} 
    {% include 'includes/category-modal.html' %}
    {% include 'includes/edit-deposit-modal.html' %}
    {% include 'includes/edit-expense-modal.html' %}
    {% include 'includes/edit-monthly-charge.html' %}
    {% include 'includes/confirm-monthly-update.html' %}
    {% include 'includes/confirm-monthly-remove.html'%}
    {% include 'includes/add-charge-modal.html'%}
            
    {% if loggedIn %}

    <div id="nav-menu-underlay"></div>

    <nav class="flex-box-sb main-nav-closed" id="main-nav">
        <div id="nav-items-main-div" tabindex="0" class="flex-box-col-sb nav-links">
            <div data-all-tags="{{tags|map(attribute='tag_name')|join(', ')}}" data-all-tags-colors="{{tags|map(attribute='tag_color')|join(', ')}}" id="nav-categories-div">
            </div>
        </div>
        
        <i id="hamburger"class="fa-solid fa-arrow-left"></i>
    </nav>
    
    <a href="https://www.buymeacoffee.com/anthonybar" id="link-to-coffee" rel="noreferrer" target="_blank">
        Donations<br/>
        <img id="buy-me-coffee-img" alt="Buy me a Coffee" src="https://cdn.buymeacoffee.com/buttons/v2/default-blue.png" />
    </a>
    {% endif %}
    {% block body %} 
    
    {% endblock %}

    {% if loggedIn %}
    
    <menu class="flex-box-sa">
        <div id="add-category-btn">
            <i class="fa-solid fa-layer-group"></i>
            <p>category</p>
        </div>
        <div id="add-cash-btn">
            <i class="fa-solid fa-money-bill-1-wave"></i>
            <p>deposit</p>
        </div>
        <div id="add-charge-btn">
            <i class="fa-regular fa-credit-card"></i>
            <p>charge</p>
        </div>
        <div id="add-expense-btn">
            <i class="fa-solid fa-cart-shopping"></i>
            <p>purchase</p>
        </div>
    </menu>
    <script src="{{url_for('static', filename='/js/modal.js')}}"></script>
    <script src="{{url_for('static', filename='/js/navigation.js')}}"></script>
    <script src="{{url_for('static', filename='/js/update-monthly.js')}}"></script>
    
    {% else %}
    <script src="{{url_for('static', filename='/js/data-validation.js')}}"></script>
    {% endif %}
</body>
</html>