{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='/styles/home/home.css')}}"
/>
<title>Dashboard</title>
{% endblock %} {% block body %} 


<main data-set-loggedIn="true" id="dashboard">
  <div class="current-date">
    <h2>{{today.strftime('%A')}}, {{today.strftime('%-d')}}{{ format_date_ending(today.strftime('%-d'))}}</h2>
  </div>
  <div class="flex-box-sa money-day-countdown">
    <p>
      {% if total_monthly_expenses%}
        {% if (total_monthly_expenses + auto_deductions) > (active_salary + user_cash)%}
        Over:<br />
        
        <span id="money-left-negative" 
          >-${{(total_monthly_expenses +
          auto_deductions) - (active_salary + user_cash)}}</span
        >
        {% else %}
        Money Remaining:<br />
        <span id="money-left-positive"
          >${{ (active_salary + user_cash) - (total_monthly_expenses +
          auto_deductions) }}</span
        >
        {% endif %}
      {% else %}
        Money Remaining:<br />
        <span id="money-left-positive"
        
          >${{active_salary + user_cash}}</span
        >
      {% endif %}
    </p>
    <p>
      Days Remaining:<br />
      <span id="days-left">{{ days_until_first }}
      </span></p>
  </div>
  
  <h2 class='section-heading page-heading'>
    <span>
      {{today.strftime('%B')}}
    </span>
  </h2>

 

  <div class='current-data-graph-div flex-box-col-sa'>
    <div class='flex-box-sa-wrap'>
      {% for num in range( relevant_tag_colors | length )%}
       <a href="/categories/{{relevant_tag_names[num]}}">
         <p class="relevant-graph-tags"><span class="tag-color-square" data-color="{{relevant_tag_colors[num]}}"></span>{{relevant_tag_names[num]}}</p>
       </a>
      {% endfor %}
    </div>
    <canvas id="pieChart" width="250" height="250"></canvas>
  </div>
  <script>
    const ctx = document.getElementById('pieChart').getContext('2d')
    const pieChart = new Chart(ctx, {
      type: 'pie', 
      data: {
        
        datasets: [
          {
            data: {{ values | safe }},
            backgroundColor: {{ relevant_tag_colors | safe}},
            borderWidth: 1,
            borderColor: "black"
          }
        ]
      },
      options: {
        responsive: false,
        tooltips: {
          enabled: true,
          callbacks: {
              label: function(tooltipItem, data) {
                const item = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                return `$${item}`
              }
          } 
        }
      }
  });
  </script>

  <h2 class='section-heading'>
    <span>
      Recent Activity
    </span>
  </h2>
  <div class="main-activity-div">
    {% for data in activity_data %}
    <a class="edit-activity-btn">
      {% if data|length > 4 %}
      <div class="flex-box-sb activity-link" data-type="expense">
      {% else%}
      <div class="flex-box-sb activity-link" data-type="deposit">
      {% endif %}
          <div class='flex-box-col-se date-div'
          data-current-date="{{data[0].strftime('%Y')}}-{{data[0].strftime('%m')}}-{{data[0].strftime('%d')}}">
            <p>{{ data[0].strftime('%b') }} {{ data[0].day }}</p>
            <p>{{ data[0].year}}</p>
          </div>
          <div class="flex-box-col-sa activity-link-description">
            {% if data|length > 4 %}
            <p
              class="activity-link-tag"
              data-product-id="{{data[5]}}"
              data-tag-id="{{data[4]}}"
            >
              {{ data[3] }}
            </p>
            {% else%}
            <p class="activity-link-deposit" data-cash-id="{{data[3]}}">Deposit</p>
            {% endif %}
            <p class="expense-description">{{ data[2] }}</p>
          </div>
          <p>${{ data[1] }}</p>
      </div>
    </a>
    {% endfor%} 

    <h2 class='section-heading'>
      <span>
        Monthly Charges
      </span>
    </h2>
    {% for data in category_data %}
    <a class="edit-monthly-charge-btn">
      <div class="flex-box-sb activity-link" data-type="expense">

          <div class='flex-box-col-se date-div'
          data-current-date="{{(data[6] | string)[:4]}}-{{(data[6] | string)[4:]}}">
            <p>start date:</p>
            <p>{{convertExpirationDate(data[6])}}</p>
          </div>
          <div class="flex-box-col-sa activity-link-description">
            <p
              class="activity-link-tag"
              data-monthly-id="{{data[5]}}"
              data-monthly-tag-id="{{data[4]}}"
            >
              {{ data[3] }}
            </p>
            <p class="expense-description">{{ data[2] }}</p>
          </div>
          <p>${{ data[1] }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
  {% endblock %}
  