{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='/styles/home/home.css')}}"
/>
<link
  rel="stylesheet"
  href="{{url_for('static', filename='/styles/carousel/carousel.css')}}"
/>
<script
      src="https://cdn.jsdelivr.net/npm/dayjs@1.11.3/dayjs.min.js"
      integrity="sha256-iu/zLUB+QgISXBLCW/mcDi/rnf4m4uEDO0wauy76x7U="
      crossorigin="anonymous"
  ></script>
<title>Dashboard</title>
{% endblock %} {% block body %} 


<main data-set-loggedIn="true" id="dashboard">
  <div class="current-date">
    <h2 id="dashboard-current-time"></h2>
  </div>
  <div class="flex-box-sa money-day-countdown">
    <p>

        {% if (total_monthly_expenses + auto_deductions) > (active_salary + user_cash)%}
        Over:<br />
        <span id="money-left-negative" 
          >-${{(total_monthly_expenses +
          auto_deductions) - (active_salary + user_cash)}}</span
        >
          {% else %}
        Money Remaining:<br />
        <span id="money-left-positive"
          >${{ (active_salary + user_cash) - (total_monthly_expenses +
          auto_deductions) }}</span
        >
        {% endif %}
    </p>
    <p>
      Days Remaining:<br />
      <span id="days-left">{{ days_until_first }}
      </span></p>
  </div>

  {% if not activity_data and not category_data%}
    <h2 class='section-heading page-heading'>
      <span>
        Getting Started
      </span>
  </h2>
  {% else %}
    <h2 class='section-heading page-heading'>
      <span id="current-month-in-dashboard">
      </span>
    </h2>
  {% endif %}

  
  {% if not activity_data and not category_data%}
  <div class="getting-started">
   

    <ol>
      <li><span>1.</span>Go to your profile.</li> 
      <li><span>2.</span>Customize your categories</li>
      <li> <span>3.</span> Enter your monthly income or make deposits every pay period.</li> 
      <li><span>4.</span>Enter your steady monthly charges/subscriptions. These are deducted automatically every month.</li> 
      <li><span>5.</span>If you earn extra cash, enter it as a deposit.</li>
      <li><span>6.</span>If you buy something, add a purchase.</li>
    </ol>
    <p>That's it! Lunaris will take care of the rest. We'll provide easy-to-read data so you can stay on top finances and know when you're over budget. You can view your spending history by month or year and always update any salary, charge, deposit, or purchase.</p>
  </div>

  {% endif %}

  <div class='current-data-graph-div flex-box-col-sa'>
    <!-- Slideshow container -->
    <div class="slideshow-container">
      <!-- Full-width images with number and caption text -->
      <div class="mySlides fade">
        <div class='flex-box-sa-wrap'>
          {% for num in range( relevant_tag_colors | length )%}
         <a href="/categories/{{relevant_tag_names[num]}}">
           <p class="relevant-graph-tags"><span class="tag-color-square" data-color="{{relevant_tag_colors[num]}}"></span>{{relevant_tag_names[num]}}</p>
          </a>
          {% endfor %}
        </div>
        <canvas id="pieChart" width="290" height="290"></canvas>
      </div>
      
      <div class="mySlides fade">
        <canvas id="barChart" width="290" height="350"></canvas>
      </div>
      
      {% if activity_data or category_data%}
      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
      {% endif %}
    </div>
    
  </div>
  <script>
    const ctx = document.getElementById('pieChart').getContext('2d')
    const pieChart = new Chart(ctx, {
      type: 'pie', 
      data: {
        
        datasets: [
          {
            data: {{ values | safe }},
            backgroundColor: {{ relevant_tag_colors | safe}},
            borderWidth: 1,
            borderColor: "black"
          }
        ]
      },
      options: {
        responsive: false,
        tooltips: {
          enabled: true,
          callbacks: {
              label: function(tooltipItem, data) {
                const item = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                return `$${item}`
              }
          } 
        }
      }
  });
  </script>

  <script>
    const ctx2 = document.getElementById('barChart').getContext('2d')
    const barChart = new Chart(ctx2, {
      type: 'bar', 
      data: {
        labels: {{ relevant_tag_names | safe }},
        datasets: [
          {
            data: {{ values | safe }},
            backgroundColor: {{ relevant_tag_colors | safe}},
          }
        ]
      },
      options: {
        legend: {
          display: false,
        },
        responsive: false,
        scales: {
          xAxes: [{
              display: true,
              scaleLabel: {
                  display: false,
                  labelString: 'Months',
                  fontColor:'white',
                  fontSize: 12,
                },
              ticks: {
                 fontColor: "white",
                 fontSize: 13
                }
          }],
          yAxes: [{
              display: true,
              scaleLabel: {
                  display: false,
                  labelString: 'Ending Balance',
                  fontColor: 'white',
                  fontSize: 12
              },
              gridLines: {
                lineWidth: 0.3,
                color: 'white'
                
              },
              ticks: {
                fontColor: "white",
                fontSize: 13,
                // Include a dollar sign in the ticks
                callback: function(value, index, values) {
                    return '$' + value.toFixed(2);
                }
            }
          }]
        }
    }
  });
  </script>

  {% if activity_data %}
  <h2 class='section-heading'>
    <span>
      Recent Activity
    </span>
  </h2>
  <div class="main-activity-div">
    {% for data in activity_data %}
    <a class="edit-activity-btn">
      {% if data|length > 4 %}
      <div class="flex-box-sb activity-link" data-type="expense">
      {% else%}
      <div class="flex-box-sb activity-link" data-type="deposit">
      {% endif %}
          <div class='flex-box-col-se date-div'
          data-current-date="{{data[0].strftime('%Y')}}-{{data[0].strftime('%m')}}-{{data[0].strftime('%d')}}">
            <p>{{ data[0].strftime('%b') }} {{ data[0].day }}</p>
            <p>{{ data[0].year}}</p>
          </div>
          <div class="flex-box-col-sa activity-link-description">
            {% if data|length > 4 %}
            <p
              class="activity-link-tag"
              data-product-id="{{data[5]}}"
              data-tag-id="{{data[4]}}"
            >
              {{ data[3] }}
            </p>
            <p class="expense-description">{{ data[2] }}</p>
          </div>
          <p>-${{ data[1] }}</p>
            {% else%}
            <p class="activity-link-deposit" data-cash-id="{{data[3]}}">Deposit</p>
            <p class="expense-description">{{ data[2] }}</p>
          </div>
          <p class="positive-color">+${{ data[1] }}</p>
          {% endif %}
      </div>
    </a>
    {% endfor%} 
  {% endif %}


  {% if category_data %}
    <h2 class='section-heading'>
      <span>
        Monthly Charges
      </span>
    </h2>
    <div class="main-activity-div">
    {% for data in category_data %}

    <a class="edit-monthly-charge-btn">
      <div class="flex-box-sb activity-link" data-type="expense">
        
        <div class='flex-box-col-se date-div'
        data-current-date="{{(data[6] | string)[:4]}}-{{(data[6] | string)[4:]}}">
            <p>start date:</p>
            <p>{{convertExpirationDate(data[6])}}</p>
          </div>
          <div class="flex-box-col-sa activity-link-description">
            <p
            class="activity-link-tag"
            data-monthly-id="{{data[5]}}"
            data-monthly-tag-id="{{data[4]}}"
            >
            {{ data[3] }}
          </p>
          <p class="expense-description">{{ data[2] }}</p>
        </div>
        <p>-${{ data[1] }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
    {% endif %}
  </main>
  <script src="{{url_for('static', filename='/js/current-time.js')}}"></script>
  <script src="{{url_for('static', filename='/js/carousel.js')}}"></script>


  {% endblock %}


  