{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='/styles/login/login.css')}}">
<title>Forgot Password</title>
{% endblock %} {% block body %}

  {% if user_exists %}
  <p class="need-account">Check your email to reset your password.</p>
  {% else %}
  <p class="need-account">No account associated with that email.</p>
  {% endif %}
  <p class="need-account">Click here to <a href="{{ url_for('site_login.signup')}}"> Sign up</a></p>

{% endblock %}

