{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='/styles/login/login.css')}}">
<title>Login</title>
{% endblock %} {% block body %}

<div class="login-signup-div">
      <legend>
        <span>Forgot Password</span>
      </legend>
      <form action="/api/forgot-password" method="POST">
        <input type="email" name="email" placeholder="Enter email" id="forgot-email" required />
        <br /><br />
        <button class="button-30" type="submit"/>Send</button>
      </form>
    </div>
    <p class="need-account">Click here to <a href="{{ url_for('site_login.signup')}}"> Sign up</a></p>

{% endblock %}

