{% extends 'base.html' %} {% block head %}

<title>Profile</title>
<link
  rel="stylesheet"
  href="{{url_for('static', filename='/styles/home/home.css')}}"
/>
<link rel="stylesheet" href="{{url_for('static', filename='/styles/profile/profile.css')}}">

{% endblock %} {% block body %}

{% include 'includes/edit-category-in-profile.html' %}
{% include 'includes/reactivate-category.html' %}
{% include 'includes/confirm-category-removal-profile.html' %}
{% include 'includes/edit-active-salary.html'%}
{% include 'includes/new-salary.html' %}
{% include 'includes/confirm-salary-removal.html' %}
{% include 'includes/edit-expired-charge-modal.html'%}
{% include 'includes/confirm-delete-user.html' %}

<main id='profile-main'>
    <a href="{{url_for('site_dashboard.dashboard')}}"><i class="fa-solid fa-house"></i></a>
    <h2 class='section-heading page-heading'>
        <span>
          Profile
        </span>
    </h2>
    
    <div class="flex-box-sa user-info-section-profile">
      <div class="flex-box-sa user-profile">
          <div class="flex-box-col-se">
            <div class="flex-box-se">
              <form id="update-username-form" action="api/update-username" method="POST">
                  <div class="flex-box-se">
                  <p>Name:</p>
                  <input type="text" name="new_username" id="change-username-input" value="{{user_data.username}}" disabled>
                </div>
                </form>
              <p id="edit-username-btn"><i class="fa-sharp fa-solid fa-pencil"></i></p>
            </div>
            <div class="flex-box-sb salary-div">
              <p>Income:</p>
              {% if active_salary %}
              <p>${{active_salary.salary_amount}}<span class="small-text">/month</span></p>
              {% else %}
              <p>none active</p>
              {% endif %}
              <p id="edit-active-salary-btn"><i class="fa-sharp fa-solid fa-pencil"></i></p>
            </div>
            {% if active_salary %}
            <p id="salary-start-date">since: {{(active_salary.start_date | string)[4:]}}/{{(active_salary.start_date | string)[:4]}}</p>
            {% endif %}
          </div>
      </div>

      <div class="flex-box-col-se delete-profile-edit-salary-div">
        <button id="delete-user-btn" class="button-30 delete-btn">Delete</button>
        <a href="{{url_for('site_profile.edit_all_salaries')}}" id="view-previous-salaries-btn">edit past incomes</a>
      </div>
    </div>
    

    <h2 class='section-heading'>
      <span>
        Active Categories
      </span>
    </h2>

    <div class="flex-box-sa flex-wrap">
      {% for active in tags %}
      <a href="#/" class="edit-category-btn active-categories category-btns-profile">
        <p
        data-tag-id="{{active.id}}"
        data-tag-color="{{ rgbToHex(active.tag_color)}}"
        >{{active.tag_name}}</p>
      </a>
      {% endfor %}
    </div>

    {% if all_inactive_categories %}
    <h2 class='section-heading'>
      <span>
        Inactive Categories
      </span>
    </h2>
    <div class="flex-box-sa flex-wrap">
      {% for inactive in all_inactive_categories %}
      <a href="#/" class="edit-inactive-category-btn inactive-categories category-btns-profile">
        <p data-tag-id="{{inactive.id}}">{{inactive.tag_name}}</p>
      </a>
      {% endfor %}
    </div>
    {% endif%}


    {% if monthly_charges %}
    <h2 class='section-heading'>
      <span>
        Active Charges
      </span>
    </h2>
    <div class="main-activity-div">
    {% for data in monthly_charges %}

    <a class="edit-monthly-charge-btn">
      <div class="flex-box-sb activity-link" data-type="expense">
        
        <div class='flex-box-col-se date-div'
        data-current-date="{{(data[6] | string)[:4]}}-{{(data[6] | string)[4:]}}">
            <p>start date:</p>
            <p>{{convertExpirationDate(data[6])}}</p>
          </div>
          <div class="flex-box-col-sa activity-link-description">
            <p
            class="activity-link-tag"
            data-monthly-id="{{data[5]}}"
            data-monthly-tag-id="{{data[4]}}"
            >
            {{ data[3] }}
          </p>
          <p class="expense-description">{{ data[2] }}</p>
        </div>
        <p>-${{ data[1] }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
    {% endif %}


{% if expired_charges|length > 0 %}
    <h2 class='section-heading'>
      <span>
        Expired Charges
      </span>
    </h2>
<div class="main-activity-div">
  {% for data in expired_charges %}
  <a class="edit-expired-charge-btn">
    <div class="activity-link expired-activity-link">
        <div class="flex-box-col-sb activity-link-description">

          <div class="flex-box-sb">
            <p
              class="activity-link-tag"
              data-expired-id="{{data[5]}}"
              data-expired-tag-id="{{data[4]}}"
              data-description="{{data[2]}}"
            >
              {{ data[3] }}
            </p>
            <p>-${{ data[1] }}</p>
          </div>
          <div data-current-date="{{data[0].strftime('%Y')}}-{{data[0].strftime('%m')}}-{{data[0].strftime('%d')}}">
          </div>
          <div class="flex-box-sb monthly-time-line">
            <p>start date: {{ convertExpirationDate(data[8])}}</p>
            <p>last payment: {{convertExpirationDate(data[7])}}</p>
          </div>
        </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endif %}

</main>
<script src="{{url_for('static', filename='/js/edit-profile.js')}}"></script>

{% endblock %}
