{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='/styles/login/login.css')}}">
<title>Login</title>
{% endblock %} {% block body %}

{% include 'includes/header.html' %}

<div class="login-signup-div">
      <legend>
        <span>Reset Password</span>
      </legend>
      <form action="/api/reset-password" method="POST">
        <input type="password" name="new-password" minlength="8" placeholder="Enter new password" id="password-reset-one" required />
        <br /><br />
        <input type="hidden" name="validation-token" value="{{ request.url.split('/')[4]}}">
        <input type="password" name="new-password-confirm" minlength="8" placeholder="Confirm password" id="password-reset-two" required /><br>
        <button id="confirm-new-password" class="button-30" type="submit" disabled/>Confirm</button>
    </form>
</div>

{% endblock %}

