{% extends 'base.html' %} {% block head %}
<title>Signup</title>
{% endblock %} {% block body %}

<div>
    <h2>Signup</h2>
    <form action="/api/signup" method="POST">
      <input type="username" name="username" placeholder="username" />
      <br /><br />
      <input type="email" name="email" placeholder="email" />
      <br /><br />
      <input type="password" name="password" placeholder="password" />
      <br /><br />
      <input type="number" name="monthly-income" step="0.01" placeholder="monthly-income" />
      <br /><br />
      <input type="submit" value="Sign Up" />
    </form>
</div>

{% endblock %}