{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='/styles/login/login.css')}}">

<title>Error</title>
{% endblock %} {% block body %}

<div class="login-signup-div">
  <legend>
    <span>Signup</span>
  </legend>
  <form id="signup-form" action="/api/signup" method="POST">
    <input type="username" name="username" maxlength="50" placeholder="username" value={{ username }} required />
    <br /><br />
    <input type="email" name="email" placeholder="email" id="signup-email" value={{ email }} required />
    <br /><br />
    <input type="password" minlength="8" name="password" placeholder="password" required />
    <br /><br />
    <span class="input-symbol-dollar">
      <input type="number" name="monthly-income" step="0.01" placeholder="monthly-income" value={{ monthly_income }} required />
    </span>
    <br /><br />
    <button type="submit" class="button-30" />Sign up</button>
  </form>
</div>
<p class="error-msg">{{error}}</p>
<p class="need-account">Already have an account? <a href="{{ url_for('site_login.login')}}">Login</a></p>



{% endblock %}